<launch>
   
  <master auto="start"/>

  <param name="/use_sim_time" value="true"/>


 <!-- Properties of each robot      -->

    <include file="$(find arabv)/launch/amcl.launch" />

<!-- MOVE_BASE -->

    <include file="$(find arabv)/launch/move_base.launch" />


<!-- Launching Gazebo & Rviz      -->
    <include file="$(find arabv)/launch/gazebo.launch" />

    <include file="$(find arabv)/launch/display.launch" />

<!-- Get poses -->

    <!-- <node name="getPose" pkg="arabv" type="getPose.py" output="screen"/> -->
  

</launch>